
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(44,193,191);
    background: radial-gradient(circle, rgba(44,193,191,1) 24%, rgba(0,212,255,1) 35%, rgba(68,208,214,1) 61%);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

div{
    border:none !important;
}

div.list-group-item{
    border-bottom: 1px solid black !important
}

form{
    text-align: center;
    outline: none;
}

input{
    padding: 10px;
    border: none;
    width: 650px;
}
input:focus{
    outline: none;
}

button{
    padding: 10px;
    border: none;
}

@media only screen and (max-width: 768px) {
    input {
     width: 200px;
    }
  }