body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(148, 216, 150), rgb(9, 255, 0));
    
}

div{
    border:none !important;
}

div.list-group-item{
    border-bottom: 1px solid black !important
}

form{
    text-align: center;
    outline: none;
}

input{
    padding: 10px;
    border: none;
}

button{
    padding: 10px;
    border: none;
}

